{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'aboutme' %}">Acerca de mi</a></li>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'buscar_post' %}">Buscar</a></li>
                    <li><a href="{% url 'agregar_post' %}">Publicar</a></li>
                    <li><a href="{% url 'agregar_autor' %}">Agrega un autor</a></li>
                    <li><a href="{% url 'agregar_categoria' %}">Agrega una categoria</a></li>
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    <li><a href="{% url 'registro' %}">Registro</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="parraf">
        {% block parraf %}
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}


    {% block cartas %}
    {% endblock %}  

    <footer>
        <p>&copy; 2025 Mi Blog</p>
    </footer>
</body>
</html>
